p {

}

body {
    background-image: url("http://fc07.deviantart.net/fs71/i/2011/235/c/d/land_of_all_seasons_by_joseph_pereira-d47jxd0.jpg");
	
	background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 1);
	background-attachment: fixed;
}

.TitleClass {
    max-width: 700px;
	margin: 1.5cm 10% 1cm 10%;
	padding: 1cm 1cm 1cm 1cm;
	background-color: rgba(255, 255, 255, 0.8);
	font: 28px Helvetica;
	text-align:center;
}


.BigText {
	font: 33px Helvetica;
	line-height: 150%;
}

.MediumText {
	font: 20px Helvetica;
	line-height: 150%;
}

.MediumText2 {
	font: 25px Helvetica;
	line-height: 150%;

}


.ImgPadding {
	padding-top: 22px;
	padding-left: 55px;
	padding-right: 55px;

}

.ImgPadding2 {
	padding-top: 22px;
	padding-left: 15px;
	padding-right: 15px;

}

.SeasonClass {
	padding-left: 0.4cm;
	padding-top: 0.6cm;
	padding-right: 0.4cm;
	font: 20px Helvetica;

}

.ItemClass {
    max-width: 700px;
	margin: 1cm 10% 1cm 10%;
	padding: 0.5cm 0.8cm 0.8cm 0.8cm;
	background-color: rgba(255, 255, 255, 0.8);
	font: 20px Helvetica;

}

.ResultClass {
    max-width: 700px;
	margin: 1.5cm 10% 0cm 10%;
	padding: 0.5cm 0.8cm 0.8cm 0.8cm;
	background-color: rgba(255, 255, 255, 0.8);
	font: 20px Helvetica;

}


.DegreeClass {
	margin: 0cm 0cm 0cm 0cm;
	padding: 0.7cm 0cm 0cm 0.4cm;
	text-align: top;
}

.ButtonClass {
	margin: 1cm 10% 1cm 10%;
}

.ButtonInnerClass {
	font: 20px Helvetica;
}


.AboutText {
	padding-left: 0.4cm;
	padding-top: 0.6cm;
	padding-right: 1cm;
	font: 20px Helvetica;
	line-height: 150%;
}

#hello {
	padding-left: 2cm;
	/*
	background-color: orange;
	width: 100px;
	height: 50px;
	border-width: 2px;
	border-style: dashed;
	border-color: blue;
	*/
	border: 2px dashed blue;
	padding: 10px;
	
}